<mat-card>
  <div class="video-list-row">
    <div class="col-a">{{video.name}}</div>
    <div class="col-b">{{video.author}}</div>
    <div class="col-c">{{video.catIds}}</div>
    <div class="col-d">{{FORMAT_QUALITY[video.bestFormat]}} {{video.bestFormat}}</div>
    <div class="col-e">{{video.releaseDate | amParse:'YYYY-MM-DD' | amDateFormat:'LL'}}</div>
    <div class="col-f">
      <button mat-icon-button color="warn" (click)="delete.emit()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
