<h1>Videos</h1>
<br>
<mat-form-field>
  <mat-label>Search by name or author</mat-label>
  <input matInput [formControl]="searchFormControl">
  <mat-icon *ngIf="!searchFormControl.value" matSuffix color="primary">search</mat-icon>
  <mat-icon *ngIf="searchFormControl.value" matSuffix color="primary" class="clear-icon"
    (click)="searchFormControl.setValue('')">
    close
  </mat-icon>
</mat-form-field>
<br>
<mat-card class="mat-elevation-z2">
  <div class="video-list-row">
    <div class="col-a" (click)="changeSort('name')">
      Video name
      <mat-icon *ngIf="(sortKey$ | async) === 'name'" [ngClass]="{rotate: (sortDir$ | async) === 'ASC'}">
        sort
      </mat-icon>
    </div>
    <div class="col-b" (click)="changeSort('author')">
      Author
      <mat-icon *ngIf="(sortKey$ | async) === 'author'" [ngClass]="{rotate: (sortDir$ | async) === 'ASC'}">
        sort
      </mat-icon>
    </div>
    <div class="col-c">
      Category name
    </div>
    <div class="col-d" (click)="changeSort('bestFormat')">
      Highest quality format
      <mat-icon *ngIf="(sortKey$ | async) === 'bestFormat'" [ngClass]="{rotate: (sortDir$ | async) === 'ASC'}">
        sort
      </mat-icon>
    </div>
    <div class="col-e" (click)="changeSort('releaseDate')">
      Release date
      <mat-icon *ngIf="(sortKey$ | async) === 'releaseDate'" [ngClass]="{rotate: (sortDir$ | async) === 'ASC'}">
        sort
      </mat-icon>
    </div>
    <div class="col-f"></div>
  </div>
  <div class="video-list-container">
    <app-video-item *ngFor="let video of videos$ | async" [routerLink]="['edit', video.authorId, video.id]"
      [video]="video"
      (delete)="onDelete(video.authorId, video.id)">
    </app-video-item>
  </div>
</mat-card>
<button mat-fab color="primary" [routerLink]="['new']">
  <mat-icon>add</mat-icon>
</button>
