:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 24px 64px;
  position: relative;
  min-height: 0;

  .clear-icon {
    cursor: pointer;
  }

  mat-card {
    min-height: 0;
    display: flex;
    flex-direction: column;

    .video-list-row {
      padding: 0 16px;
      border-bottom: 1px solid lightgray;

      > * {
        display: flex;
        align-items: center;
        padding-right: 12px;
        cursor: pointer;

        > mat-icon {
          margin-left: 4px;

          &.rotate {
            transform: rotate(180deg);
          }
        }
      }

    }

    .video-list-container {
      overflow: auto;

      app-video-item {
        margin-top: 8px;
      }
    }
  }

  > button[mat-fab] {
    position: absolute;
    bottom: 24px;
    right: 24px;
  }
}
