:host {
  flex: 1;
  display: block;
  padding: 24px 64px;
  position: relative;

  mat-card {
    .video-list-row {
      padding: 0 16px;
      border-bottom: 1px solid lightgray;

      > * {
        display: flex;
        align-items: center;
        padding-right: 12px;
        cursor: pointer;

        > mat-icon {
          margin-left: 4px;

          &.rotate {
            transform: rotate(180deg);
          }
        }
      }

    }

    app-video-item {
      margin-top: 8px;
    }
  }

  > button[mat-fab] {
    position: absolute;
    bottom: 24px;
    right: 24px;
  }
}
