/* For use in src/lib/core/theming/_palette.scss */
$mi-green: (
  50 : #e0f2e7,
  100 : #b3dfc4,
  200 : #80c99c,
  300 : #4db374,
  400 : #26a357,
  500 : #009339,
  600 : #008b33,
  700 : #00802c,
  800 : #007624,
  900 : #006417,
  A100 : #94ffa3,
  A200 : #61ff77,
  A400 : #2eff4c,
  A700 : #14ff36,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mi-blue: (
  50 : #e0f2f9,
  100 : #b3def0,
  200 : #80c8e7,
  300 : #4db2dd,
  400 : #26a2d5,
  500 : #0091ce,
  600 : #0089c9,
  700 : #007ec2,
  800 : #0074bc,
  900 : #0062b0,
  A100 : #daecff,
  A200 : #a7d2ff,
  A400 : #74b8ff,
  A700 : #5aacff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mi-red: (
  50 : #ffe6e0,
  100 : #ffc2b3,
  200 : #ff9980,
  300 : #ff704d,
  400 : #ff5126,
  500 : #ff3200,
  600 : #ff2d00,
  700 : #ff2600,
  800 : #ff1f00,
  900 : #ff1300,
  A100 : #ffffff,
  A200 : #fff3f2,
  A400 : #ffc2bf,
  A700 : #ffa9a6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

